# -*- coding: utf-8 -*-
# vim: ft=yaml
---
rsyslog:
  {#- Remote targets for Rsyslog -#}
  targets:
    - 192.168.1.100
    - rsyslog.example.com

  {#- Protocol used for remote Rsyslog target -#}
  protocol: tcp

  work_directory: '/var/lib/rsyslog'

  {#- Debian Only -#}
  {#- Default Permissions for All Log Files -#}
  file_owner: root
  file_group: adm
  file_mode: 0640
  dir_mode: 0755
  priv_drop_to_user: syslog
  priv_drop_to_group: syslog
  listen_tcp: False
  listen_udp: False

  {#- Rsyslog modules to configure -#}
  modules:
    imuxsock:
    imjournal:
    {#- Supported, but not enabled by default -#}
    impstats:
      impstatsinterval: 600
      impstatsseverity: 6
      impstatsresetcounters: off
      impstatslogsyslog: on
      impstatsformat: legacy
